<div style="display: flex;">
<nz-card style="width:250px; border-radius: 10px; background-color: #1689d2;">
  <p style="text-align: center;"><i nz-icon style="font-size: 30px;" nzType="video-camera" nzTheme="outline"></i></p>
  <p style="text-align: center;">Tham gia</p>
</nz-card>
<nz-card style="width:250px; border-radius: 10px; background-color: #9ce2e3; margin-left: 10px;">
  <p style="text-align: center;"><i nz-icon style="font-size: 30px;" nzType="plus-circle" nzTheme="fill"></i></p>
  <p style="text-align: center;">Tạo mới</p>
</nz-card>
</div>
<div style="display: flex; margin-top: 10px;">
<nz-card style="width:250px; border-radius: 10px; background-color: #fd6159;">
  <p style="text-align: center;"><i nz-icon style="font-size: 30px;" nzType="schedule" nzTheme="outline"></i></p>
  <p style="text-align: center;">Schedule meeting</p>
</nz-card>
<nz-card style="width:250px; border-radius: 10px; background-color: #aa33cc; margin-left: 10px;">
  <p style="text-align: center;"><i nz-icon style="font-size: 30px;" nzType="fund-projection-screen" nzTheme="outline"></i></p>
  <p style="text-align: center;">Chia sẻ màn hình</p>
</nz-card>
</div>