<div style="display: flex; justify-content: space-between;">
  <div>
    <p style="margin-bottom: 0;">Họp chốt giao diện</p>
    <a style="font-size: 10p;">AJC1234</a>
  </div>
  <div style="color: #aba187;">
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    <span>20/03/2022</span>
  </div>
</div>
<nz-divider class="divide-list"></nz-divider>
<div style="display: flex; justify-content: space-between;">
  <div>
    <p style="margin-bottom: 0;">Họp chốt giao diện</p>
    <a style="font-size: 10p;">AJC1234</a>
  </div>
  <div style="color: #aba187;">
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    <span>20/03/2022</span>
  </div>
</div>
<nz-divider class="divide-list"></nz-divider>
<div style="display: flex; justify-content: space-between;">
  <div>
    <p style="margin-bottom: 0;">Họp chốt giao diện</p>
    <a style="font-size: 10p;">AJC1234</a>
  </div>
  <div style="color: #aba187;">
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    <span>20/03/2022</span>
  </div>
</div>
<nz-divider class="divide-list"></nz-divider>
<div style="display: flex; justify-content: space-between;">
  <div>
    <p style="margin-bottom: 0;">Họp chốt giao diện</p>
    <a style="font-size: 10p;">AJC1234</a>
  </div>
  <div style="color: #aba187;">
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    <span>20/03/2022</span>
  </div>
</div>
<nz-divider class="divide-list"></nz-divider>
<div style="display: flex; justify-content: space-between;">
  <div>
    <p style="margin-bottom: 0;">Họp chốt giao diện</p>
    <a style="font-size: 10p;">AJC1234</a>
  </div>
  <div style="color: #aba187;">
    <i nz-icon nzType="calendar" nzTheme="outline"></i>
    <span>20/03/2022</span>
  </div>
</div>
<nz-divider class="divide-list"></nz-divider>